@tailwind base;
@tailwind components;
@tailwind utilities;


/* swiper js styles   */


body {
  background-color: #fefbfd;
  margin: 0;
  font-family: josefin-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  color: white;
}

li:hover {
  border-bottom: 1px solid white
}

p {
  color: #7D7E85
}